<div class="encapsulated">

<div class="destinations">
	<h1><%= destination.name %></h1>
</div>

<div class="destination">

<div class = "todoitem">

<% destination.to_do_items.each do |to_do_item| %>
    <h4><%= render to_do_item %></h4>
</div>

    <% end %>

     <div class = "addtodoitem encapsulated" >
    <%= render :partial => 'to_do_items/form', :locals => {:destination_id => destination.id} %>
    </div>
 </div>

</div>