<!DOCTYPE html>
<html>
<head>
  <title>Bucketlist</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

<div class="googlemaps">

  <script type = "text/javascript" src= "https://maps.googleapis.com/maps/api/js?key=AIzaSyC74gnSe7p17ulcZUzgPJHxYurGg2bjRYg&sensor=false">
  </script>

  
  <script type="text/javascript">
      $(function() {
        initMap();
      });
  </script>
</div>
     
</head>
<body>

<%= yield %>

</body>
</html>















   
